*{
    margin:0;
    padding: 0;
}

:root {
  --blue-main: #3498db;
  --blue-second: #2980b9;
  --main: #454545;
  --component: #ffffff;
  --border: #ecf0f1;
  --text: #34495e;
}

body{
  background-color: var(--main);
}